* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: white;

}

.box{
  height: 200px;
  width: 200px;
  background-color: aquamarine;
  border: 3px solid black;
  margin: 50px;
}
.circle{
  height: 200px;
  width: 200px;
  background-color: rgb(36, 184, 135);
  border: 3px solid black;
  border-radius: 50%;
  margin: 50px;
}
p{
  font-size: larger;
}

.line{
  height: 20px;
  width: 100%;
  background-color: blue;
  position: fixed;
  transform-origin: 0%;
}